<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9a9ea1;">
  <a class="navbar-brand" href="#">
    <img src="assets\img\carscrch.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
    Vehicle Mart
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vehicle">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bNvehicle">Latest Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Log In</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
